/* Hello World*/
/* fontes usadas:
- font-family: 'Roboto', sans-serif;
- font-family: 'Roboto Serif', serif;
*/
/*GLOBAL*/
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #FFEDD5; /*de 0 até F, para as cores. E segue o modelo hexadecimal*/
  font-family: 'Roboto', sans-serif; 
}
ul{
  list-style:none;
}

/*aplicando as fontes*/
h1, h2, h3, .price {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
  color: #2D2C2A;
}

/*vamos aplicar Box Model nesse projeto*/
header{
  text-align: center;
  padding: 32px 0; 
}

header h1{
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 24px;
}

header h1 span{
  color:#995000;
}

header p {
  font-size: 14px;
  line-height: 16px;
  color: rgba(0,0,0, 0.6);
}

header, section{
  max-width: 250px;
  /*max-width: 35vh;*/
  margin: 0 auto;
}

section{
  margin-bottom: 24px;
}

section h2{
  background-color: #FED7AA;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
}

ul li{
  margin-bottom: 16px;
  display:flex;
  justify-content: space-between;
}

li .details{
  max-width: 240px;
}

.details h3{
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
}

 p{
  color: rgba(0,0,0, 0.6);
  font-size: 14px;
  line-height: 24px;
}